designlink.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pf.com/soa/services/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="designlink" targetNamespace="http://pf.com/soa/services/v1">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://pf.com/soa/services/v1">
      <xsd:element name="keywordParameter">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="keyword" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          	<xsd:element name="offset" type="xsd:int"></xsd:element>
          	<xsd:element name="numberOfResults">
          		<xsd:simpleType>
          			<xsd:restriction base="xsd:int">
          				<xsd:minInclusive value="1"></xsd:minInclusive>
          				<xsd:maxInclusive value="50"></xsd:maxInclusive>
          			</xsd:restriction>
          		</xsd:simpleType>
          	</xsd:element>
          	<xsd:element name="RefinementParameters" type="tns:RefinementParameters"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="keywordSearchReturn">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="numberOfResults" type="xsd:int" maxOccurs="1"/>
          	<xsd:element name="products" type="tns:products" maxOccurs="unbounded" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="RefinementParameters">
      	<xsd:sequence>
      		<xsd:element name="inStock" type="xsd:boolean"></xsd:element>
      		<xsd:element name="rohsCompliant" type="xsd:boolean"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="products">
                <xsd:sequence>
                	<xsd:element name="sku" type="xsd:string"
                		minOccurs="1">
                	</xsd:element>
                	<xsd:element name="displayName" type="xsd:string"
                		maxOccurs="1">
                	</xsd:element>
                	<xsd:element name="productStatus" type="xsd:string"
                		maxOccurs="1">
                	</xsd:element>
                	<xsd:element name="rohsStatusCode" type="xsd:string"
                		maxOccurs="1">
                	</xsd:element>
                	<xsd:element name="packSize" type="xsd:int"
                		maxOccurs="1">
                	</xsd:element>
                	<xsd:element name="unitOfMeasure" type="xsd:string"
                		maxOccurs="1">
                	</xsd:element>
                	<xsd:element name="id" type="xsd:string"
                		maxOccurs="1">
                	</xsd:element>
                	<xsd:element name="image" type="tns:imageType"
                		maxOccurs="1">
                	</xsd:element>
                	<xsd:element name="datasheets"
                		type="tns:datasheetsType" maxOccurs="unbounded"
                		minOccurs="0">
                	</xsd:element>
                	<xsd:element name="prices" type="tns:pricesType"
                		maxOccurs="unbounded" minOccurs="0">
                	</xsd:element>
                	<xsd:element name="inv" type="xsd:int"></xsd:element>
                	<xsd:element name="vendorId" type="xsd:int"></xsd:element>
                	<xsd:element name="vendorName" type="xsd:string"></xsd:element>
                	<xsd:element name="brandName" type="xsd:string"></xsd:element>
                	<xsd:element name="translatedManufacturerPartNumber"
                		type="xsd:string">
                	</xsd:element>
                	<xsd:element name="translatedMinimumOrderQuality"
                		type="xsd:int">
                	</xsd:element>
                	<xsd:element name="attributes" type="tns:attributesType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                	<xsd:element name="related"
                		type="tns:relatedType">
                	</xsd:element>
                	<xsd:element name="stock" type="tns:stockType">
                	</xsd:element>
                	<xsd:element name="translatedPrimaryCatalogPage"
                		type="xsd:string">
                	</xsd:element>
                	<xsd:element name="countryOfOrigin"
                		type="xsd:string">
                	</xsd:element>
                	<xsd:element name="comingSoon" type="xsd:boolean"></xsd:element>
                	<xsd:element name="inventoryCode" type="xsd:int"
                		minOccurs="0">
                	</xsd:element>
                	<xsd:element name="nationalClassCode"
                		type="xsd:string" minOccurs="0">
                	</xsd:element>
                	<xsd:element name="publishingModule"
                		type="xsd:string">
                	</xsd:element>
                	<xsd:element name="vatHandlingCode"
                		type="xsd:string">
                	</xsd:element>
                	<xsd:element name="releaseStatusCode"
                		type="xsd:int">
                	</xsd:element>
                	<xsd:element name="isSpecialOrder"
                		type="xsd:boolean">
                	</xsd:element>
                	<xsd:element name="isAwaitingRelease"
                		type="xsd:boolean">
                	</xsd:element>
                	<xsd:element name="reeling" type="xsd:boolean"></xsd:element>
                	<xsd:element name="discountReason" type="xsd:int"></xsd:element>
                	<xsd:element name="stockistWarehouse"
                		type="xsd:string">
                	</xsd:element>
                	<xsd:element name="brandId" type="xsd:int"></xsd:element>
                	<xsd:element name="commodityClassCode"
                		type="xsd:string">
                	</xsd:element>
                	<xsd:element name="NewElement" type="xsd:string"></xsd:element>
                </xsd:sequence>


      </xsd:complexType>

      <xsd:complexType name="imageType">
      	<xsd:sequence>
      		<xsd:element name="baseName" type="xsd:string"></xsd:element>
      		<xsd:element name="vrntPath" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="datasheetsType">
      	<xsd:sequence>
      		<xsd:element name="type" type="xsd:string"></xsd:element>
      		<xsd:element name="description" type="xsd:string"></xsd:element>
      		<xsd:element name="url" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="pricesType">
                <xsd:sequence>
                    <xsd:element name="from" type="xsd:int"></xsd:element>
                    <xsd:element name="to" type="xsd:int"></xsd:element>
                	<xsd:element name="cost" type="xsd:float"></xsd:element>
                </xsd:sequence>
                
      </xsd:complexType>
      <xsd:complexType name="relatedType">
      	<xsd:sequence>
      		<xsd:element name="containAlternatives"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="containcontainRoHSAlternatives"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="containAccessories"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="containcontainRoHSAccessories"
      			type="xsd:string">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="stockType">
      	<xsd:sequence>
      		<xsd:element name="level" type="xsd:int"></xsd:element>
      		<xsd:element name="leastLeadTime" type="xsd:int"></xsd:element>
      		<xsd:element name="status" type="xsd:int"></xsd:element>
      		<xsd:element name="shipsFromMultipleWarehouses"
      			type="xsd:boolean">
      		</xsd:element>
      		<xsd:element ref="tns:breakdown"></xsd:element>
      		<xsd:element name="regionalBreakdown" type="tns:regionalBreakdownType">
      		</xsd:element>
      		<xsd:element name="nominatedWarehouseDetails" type="tns:nominatedWarehouseDetailsType">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="breakdown" type="tns:breakdownType">
      </xsd:element>
      <xsd:complexType name="breakdownType">
      	<xsd:sequence>
      		<xsd:element name="inv" type="xsd:int"></xsd:element>
      		<xsd:element name="region" type="xsd:string"></xsd:element>
      		<xsd:element name="lead" type="xsd:int"></xsd:element>
      		<xsd:element name="warehouse" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="regionalBreakdownType">
      	<xsd:sequence>
      		<xsd:element name="level" type="xsd:int"></xsd:element>
      		<xsd:element name="leastLeadTime" type="xsd:int"></xsd:element>
      		<xsd:element name="status" type="xsd:int"></xsd:element>
      		<xsd:element name="warehouse" type="xsd:string"></xsd:element>
      		<xsd:element name="shipsFromMultipleWarehouses"
      			type="xsd:boolean">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="nominatedWarehouseDetailsType"></xsd:complexType>
    
      <xsd:complexType name="attributesType">
      	<xsd:sequence>
      		<xsd:element name="attributeLabel" type="xsd:string"></xsd:element>
      		<xsd:element name="attributeValue" type="xsd:string"></xsd:element>
      		<xsd:element name="attributeUnit" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="premierFarnellPartNumbers">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="Sku" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="premierFarnellPartNumberReturn">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="numberOfResults" type="xsd:int" maxOccurs="1"></xsd:element>
      			<xsd:element name="products" type="tns:products" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchByKeywordRequest">
    <wsdl:part element="tns:keywordParameter" name="parameters" />
  </wsdl:message>
  <wsdl:message name="searchByKeywordResponse">
    <wsdl:part element="tns:keywordSearchReturn" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="searchByPremierFarnellPartNumberRequest">
  	<wsdl:part name="parameters" element="tns:premierFarnellPartNumbers"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByPremierFarnellPartNumberResponse">
  	<wsdl:part name="parameters" element="tns:premierFarnellPartNumberReturn"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="designlinkWSDL">
    <wsdl:operation name="searchByKeyword">
      <wsdl:input message="tns:searchByKeywordRequest"/>
      <wsdl:output message="tns:searchByKeywordResponse"/>
    </wsdl:operation>
    <wsdl:operation name="searchByPremierFarnellPartNumber">
    	<wsdl:input message="tns:searchByPremierFarnellPartNumberRequest"></wsdl:input>
    	<wsdl:output message="tns:searchByPremierFarnellPartNumberResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:designlinkWSDL">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="searchByKeyword">
  		<soap:operation
  			soapAction="http://pf.com/soa/services/v1/searchByKeyword" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="searchByPremierFarnellPartNumber">
  		<soap:operation
  			soapAction="http://pf.com/soa/services/v1/searchByPartNumber" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="designlink">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="https://uk.farnell.com/pffind/services/SearchService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
